/* css styles */



/* alterar fonte do título */
h1.title {
  font-size: 32px;
  font-family: arial;
  font-weight: bold;
  color: #003B4d;
  text-align: left;
}

h2.title {
  font-size: 24px;
  font-family: arial;
  font-weight: bold;
  color: #00BED6;
  text-align: left;
}

.quarto-figure-center>figure>p,
.quarto-figure-center>figure>div {
  text-align: left;
}

.figure-img {
  margin-bottom: 3px !important;
}

.callout.callout-style-default.callout-tip.callout-titled {
  border: 1px solid #00BED6;
  /* Borda vermelha */
  background-color: white;
  /* Fundo do texto*/
  color: #343a40;
  /* Texto */
}

.callout.callout-style-default.callout-tip.callout-titled .callout-header {
  background-color: #00BED6;
  /* Fundo do cabeçalho */
}

.callout.callout-style-default.callout-tip.callout-titled .callout-title-container {
  color: #003B4d;
  /* Texto do título */
}



/* change Font
@font-face {
  font-family: "FiraCode";
  src: url("font/FiraCode-Regular.ttf");
}
*/