/*-- scss:defaults --*/
$primary: #00353E !default;
$fg: #6AC04B !default;
$bg: #ffffff !default;

/*-- scss:rules --*/
img.quarto-cover-image {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border: 2px;
}



pre {
    background-color: rgba(233, 236, 239, 0.65);
}

code {
    color: inherit;
}